:host {
  --number-color: var(--primary-color);
}

.number {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 60px;
  line-height: 55px;
  color: var(--number-color);
}

.small {
  font-family: "PT Root UI";
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
  color: #818798;
}

.eclipse {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  opacity: 0.5;
  background: var(--number-color);
}

.time-danger {
  animation: color 0.6s linear infinite;
}

@keyframes color {
  0% {
    --number-color: var(--primary-color);
  }
  100% {
    --number-color: var(--red-color);
  }
}

.time-end {
  --number-color: var(--red-color);
}
