@import "styles/bootstrap";

@import url("https://fonts.cdnfonts.com/css/pt-root-ui");
@import url("https://fonts.cdnfonts.com/css/bebas-neue");
@import url("https://fonts.cdnfonts.com/css/rubik");

body {
  color: #12191D;
  background: #f5f7f7;
  --small-color: #818798;
  --black-color: #2d3242;
}
